In [1]:
print("üöÄ Starting Data Transformation Pipeline")
print("=" * 50)

üöÄ Starting Data Transformation Pipeline
==================================================

# Data Transformation Pipeline for MLOps Using SageMaker Jupyter Notebooks
`This notebook demonstrates key data transformation techniques commonly used in machine learning pipelines. It follows MLOps best practices for data preprocessing and feature engineering using AWS SageMaker JupyterLab.`

## 1. Environment Setup and Configuration
### üì¶ Step 1: Setup Environment

In [2]:
# üì¶ Step 1: Setup Environment
import sagemaker
import boto3
import pandas as pd
import os
from sagemaker.processing import ProcessingInput, ProcessingOutput, ScriptProcessor
import json
import numpy as np
from datetime import datetime

sagemaker_session = sagemaker.Session()
role = sagemaker.get_execution_role()
bucket = sagemaker_session.default_bucket()
region = boto3.Session().region_name

print(f"SageMaker Role: {role}")
print(f"Default Bucket: {bucket}")

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml
SageMaker Role: arn:aws:iam::891377300841:role/cfst-4286-a3bb98dd86788b99c4-SageMakerExecutionRole-cN71NiG3F0e1
Default Bucket: sagemaker-us-east-1-891377300841

### ‚öôÔ∏è Step 2: Data Generation
Creating a realistic dataset that simulates common data quality challenges found in production environments.

In [3]:
import pandas as pd
import numpy as np
import json
import random
from datetime import datetime, timedelta
import os

# Set random seed for reproducibility
np.random.seed(42)

# Number of records
num_records = 20000

# Generate random data
data = {
    "id": np.arange(1, num_records + 1),
    "name": [f"Name_{i}" for i in np.random.randint(1, 1000, num_records)],
    "age": np.random.randint(18, 80, num_records),
    "salary": np.random.choice([50000, 60000, 70000, None], num_records),
    "hire_date": [
        (datetime.now() - timedelta(days=random.randint(0, 3650))).strftime("%Y-%m-%d")
        if random.random() > 0.1 else None
        for _ in range(num_records)
    ],
    "profile": [
        json.dumps({
            "address": f"Street {random.randint(1, 100)}, City {random.randint(1, 50)}",
            "phone": f"{random.randint(1000000000, 9999999999)}",
            "email": f"email_{random.randint(1, 1000)}@example.com"
        })
        if random.random() > 0.1 else None
        for _ in range(num_records)
    ],
    "department": np.random.choice(["HR", "IT", "Finance", "Marketing", None], num_records),
    "bonus": [None if random.random() > 0.9 else random.randint(1000, 10000) for _ in range(num_records)]
}

# Create DataFrame
df = pd.DataFrame(data)

# Introduce some NaN values randomly
df.loc[np.random.choice(df.index, size=int(num_records * 0.05), replace=False), "age"] = np.nan
df.loc[np.random.choice(df.index, size=int(num_records * 0.1), replace=False), "salary"] = np.nan

# Ensure 'data' folder exists
os.makedirs("data", exist_ok=True)

# Save to CSV
df.to_csv("data/mock_data.csv", index=False)
print("Dataset created and uploaded to data/mock_data.csv")

Dataset created and uploaded to data/mock_data.csv

### ‚öôÔ∏è Step 3: Upload Source Data to S3
Upload the source CSV dataset to input location in S3 (default bucket)

In [4]:
s3 = boto3.resource('s3')
s3.meta.client.upload_file('data/mock_data.csv', bucket, 'input/mock_data.csv')
print(f"Dataset 'mock_data.csv' uploaded to: s3://{bucket}/input/mock_data.csv")

Dataset 'mock_data.csv' uploaded to: s3://sagemaker-us-east-1-891377300841/input/mock_data.csv

## 2. Data Exploration  
Load the raw dataset and perform initial data profiling. 
This step is crucial for understanding data quality and structure. 

### Step 1: Load the CSV File from S3 into the DataFrame

In [5]:
try:
    df = pd.read_csv(f's3://{bucket}/input/mock_data.csv')
    print(f"‚úÖ Dataset loaded successfully!")
    print(f"üìè Dataset shape: {df.shape}")
except FileNotFoundError:
    print("‚ùå Error: mock_data.csv not found. Please run create_dataset.py first.")
    exit()

‚úÖ Dataset loaded successfully!
üìè Dataset shape: (20000, 8)

### Step 2: Analyse the Data  
Perform comprehensive data analysis to understand:
- Data types and memory usage
- Missing values pattern
- Statistical distribution
- Unique values and categories

In [6]:
# Display the first 5 rows from the loaded DataFrame
print("\nüìã First 5 rows:")
df.head()

üìã First 5 rows:

,id,name,age,salary,hire_date,profile,department,bonus
0,1,Name_103,77.0,60000.0,2016-11-20,"{""address"": ""Street 29, City 39"", ""phone"": ""84...",Marketing,2904.0
1,2,Name_436,62.0,50000.0,2016-03-29,"{""address"": ""Street 89, City 38"", ""phone"": ""98...",Marketing,6333.0
2,3,Name_861,61.0,60000.0,2022-04-09,"{""address"": ""Street 29, City 3"", ""phone"": ""942...",HR,3831.0
3,4,Name_271,36.0,70000.0,2020-10-09,"{""address"": ""Street 92, City 42"", ""phone"": ""77...",NaN,NaN
4,5,Name_107,78.0,60000.0,NaN,"{""address"": ""Street 47, City 11"", ""phone"": ""53...",IT,1319.0

In [7]:
# Get the summary of the DataFrame
print("\nüìä Data Types & Non-Null Counts:\n")
df.info()

üìä Data Types & Non-Null Counts:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          20000 non-null  int64
 1   name        20000 non-null  object
 2   age         19000 non-null  float64
 3   salary      13519 non-null  float64
 4   hire_date   17985 non-null  object
 5   profile     17923 non-null  object
 6   department  16003 non-null  object
 7   bonus       17959 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.2+ MB

In [8]:
# Check for duplicate rows
duplicates = df.duplicated().sum()
print(f"\nüîÑ Duplicate rows: {duplicates}")

üîÑ Duplicate rows: 0

In [9]:
# Check unique values in the department column
df['department'].unique()

array(['Marketing', 'HR', nan, 'IT', 'Finance'], dtype=object)

In [10]:
# View statistical summary for numeric coloums
print("\nüìà Statistical Summary:")
df.describe(include='all')

üìà Statistical Summary:

,id,name,age,salary,hire_date,profile,department,bonus
count,20000.000000,20000,19000.000000,13519.000000,17985,17923,16003,17959.000000
unique,NaN,999,NaN,NaN,3624,17923,4,NaN
top,NaN,Name_825,NaN,NaN,2019-08-15,"{""address"": ""Street 57, City 50"", ""phone"": ""93...",IT,NaN
freq,NaN,37,NaN,NaN,13,1,4058,NaN
mean,10000.500000,NaN,48.444684,59962.275316,NaN,NaN,NaN,5476.615959
std,5773.647028,NaN,17.892848,8200.588356,NaN,NaN,NaN,2615.608233
min,1.000000,NaN,18.000000,50000.000000,NaN,NaN,NaN,1000.000000
25%,5000.750000,NaN,33.000000,50000.000000,NaN,NaN,NaN,3188.500000
50%,10000.500000,NaN,48.000000,60000.000000,NaN,NaN,NaN,5486.000000
75%,15000.250000,NaN,64.000000,70000.000000,NaN,NaN,NaN,7736.000000
max,20000.000000,NaN,79.000000,70000.000000,NaN,NaN,NaN,10000.000000

In [11]:
# Check for missing values
print("\n‚ùì Missing Values Analysis:\n")
df.isnull().sum()

‚ùì Missing Values Analysis:

id               0
name             0
age           1000
salary        6481
hire_date     2015
profile       2077
department    3997
bonus         2041
dtype: int64

## üßπ 3. Data Cleaning & Quality Improvement

### Step 1: Handle Missing values of age, and salary
Handle missing values in age and salary columns using appropriate strategies:
- For age: Use median (robust to outliers)
- For salary: Use median (robust to outliers)

In [12]:
# Analyze missing patterns
print("\nüìä Missing Value Patterns:")
print("Missing Age values:")
print(df[df['age'].isnull()][['age', 'salary', 'department']])

üìä Missing Value Patterns:
Missing Age values:
       age   salary department
44     NaN  60000.0  Marketing
115    NaN  60000.0         IT
127    NaN      NaN  Marketing
147    NaN  60000.0         HR
164    NaN  70000.0         IT
...    ...      ...        ...
19872  NaN  60000.0         HR
19921  NaN      NaN         HR
19940  NaN  70000.0        NaN
19997  NaN  60000.0         IT
19998  NaN  60000.0  Marketing

[1000 rows x 3 columns]

In [13]:
print("Missing Salary values")
print(df[df['salary'].isnull()][['age', 'salary', 'department']])

Missing Salary values
        age  salary department
5      35.0     NaN         IT
11     61.0     NaN         IT
13     46.0     NaN        NaN
14     48.0     NaN         IT
15     61.0     NaN         HR
...     ...     ...        ...
19984  71.0     NaN        NaN
19988  72.0     NaN  Marketing
19992  60.0     NaN        NaN
19993  76.0     NaN  Marketing
19999  47.0     NaN        NaN

[6481 rows x 3 columns]

In [14]:
# Get the median values for age, and salary
age_median = df['age'].median()
salary_median = df['salary'].median()
print("Age Median", age_median)
print("Salary Median", salary_median)

Age Median 48.0
Salary Median 60000.0

In [15]:
# Fill missing values of age with age_median
df['age'] = df['age'].fillna(age_median)
# Fill missing values of salary with salary_median
df['salary'] = df['salary'].fillna(salary_median)

#### Age & Salary columns missing values are filled with the respective median

In [16]:
# Verify the Age & Salary data
df.head()
# Check for missing values
print("Missing values in each column")
df.isnull().sum()

Missing values in each column

id               0
name             0
age              0
salary           0
hire_date     2015
profile       2077
department    3997
bonus         2041
dtype: int64

### Step 2: Handle Missing values of Department
Handle missing values in categorical columns:
- For department: Use 'Unknown' category
- This preserves the information that the department was missing

In [17]:
print("Print the missing values for Department\n")
print("Missing Department Missing values")
print(df[df['department'].isnull()][['age', 'salary', 'department']])

Print the missing values for Department

Missing Department Missing values
        age   salary department
3      36.0  70000.0        NaN
13     46.0  60000.0        NaN
49     34.0  50000.0        NaN
53     33.0  60000.0        NaN
57     28.0  70000.0        NaN
...     ...      ...        ...
19973  50.0  60000.0        NaN
19975  29.0  60000.0        NaN
19984  71.0  60000.0        NaN
19992  60.0  60000.0        NaN
19999  47.0  60000.0        NaN

[3997 rows x 3 columns]

In [18]:
# Fill the missing values in department with 'Unknown'
df['department'] = df['department'].fillna('Unknown')

#### Department column missing values are filled with the respective median

In [19]:
# Verify the Age & Salary data
df.head()
# Check for missing values
print("Missing values in each column")
print(df.isnull().sum())
# Check unique values in the department column
df['department'].unique()

Missing values in each column
id               0
name             0
age              0
salary           0
hire_date     2015
profile       2077
department       0
bonus         2041
dtype: int64

array(['Marketing', 'HR', 'Unknown', 'IT', 'Finance'], dtype=object)

### Step 3: Parse and Extract Profile Information
Devide Profile Column into 3 different columns i.e., Address, Phone, Email   

Parse JSON profile data and extract structured information:
- Extract address, phone, and email into separate columns
- Handle malformed JSON gracefully
- Maintain data integrity during extraction

In [20]:
print("Top rows from profile column \n")
print(df['profile'].head())

# Find the first non-null value in the column
profile_first_value = df['profile'].dropna().iloc[0]
# Print its type
print("\nProfile column values current data type")
print(type(profile_first_value))

# If your 'profile' column already contains Python dictionaries, not JSON strings.
# You do not need to parse it with json.loads(). The data is ready to be used directly.

# Convert profile JSON strings into dictionaries
df['profile'] = df['profile'].apply(lambda x: json.loads(x) if pd.notnull(x) else {})

Top rows from profile column

0    {"address": "Street 29, City 39", "phone": "84...
1    {"address": "Street 89, City 38", "phone": "98...
2    {"address": "Street 29, City 3", "phone": "942...
3    {"address": "Street 92, City 42", "phone": "77...
4    {"address": "Street 47, City 11", "phone": "53...
Name: profile, dtype: object

Profile column values current data type
<class 'str'>

In [21]:
# Extract Address Field
print("Extract Address Field....\n")
# Create new 'address' column by extracting from 'profile' dictionaries
df['address'] = df['profile'].apply(lambda x: x.get('address', None))  # Returns None if no address key

print("Top rows from profile column \n")
print(df['profile'].head())
print("\nTop rows from newly created address column \n")
print(df['address'].head())

Extract Address Field....

Top rows from profile column

0    {'address': 'Street 29, City 39', 'phone': '84...
1    {'address': 'Street 89, City 38', 'phone': '98...
2    {'address': 'Street 29, City 3', 'phone': '942...
3    {'address': 'Street 92, City 42', 'phone': '77...
4    {'address': 'Street 47, City 11', 'phone': '53...
Name: profile, dtype: object

Top rows from newly created address column

0    Street 29, City 39
1    Street 89, City 38
2     Street 29, City 3
3    Street 92, City 42
4    Street 47, City 11
Name: address, dtype: object

In [22]:
# Extract Phone Field
print("Extract Phone Field....\n")
# Create new 'phone' column by extracting from 'profile' dictionaries
df['phone'] = df['profile'].apply(lambda x: x.get('phone', None))  # Returns None if no address key

print("Top rows from profile column \n")
print(df['profile'].head())
print("\nTop rows from newly created phone column \n")
print(df['phone'].head())

Extract Phone Field....

Top rows from profile column

0    {'address': 'Street 29, City 39', 'phone': '84...
1    {'address': 'Street 89, City 38', 'phone': '98...
2    {'address': 'Street 29, City 3', 'phone': '942...
3    {'address': 'Street 92, City 42', 'phone': '77...
4    {'address': 'Street 47, City 11', 'phone': '53...
Name: profile, dtype: object

Top rows from newly created phone column

0    8458955749
1    9887063287
2    9422445720
3    7701162317
4    5392671150
Name: phone, dtype: object

In [23]:
# Extract Email Field
print("Extract Email Field....\n")
# Create new 'email' column by extracting from 'profile' dictionaries
df['email'] = df['profile'].apply(lambda x: x.get('email', None))  # Returns None if no address key

print("Top rows from profile column \n")
print(df['profile'].head())
print("\nTop rows from newly created email column \n")
print(df['email'].head())

print(f"\n‚úÖ Profile fields extracted:")

Extract Email Field....

Top rows from profile column

0    {'address': 'Street 29, City 39', 'phone': '84...
1    {'address': 'Street 89, City 38', 'phone': '98...
2    {'address': 'Street 29, City 3', 'phone': '942...
3    {'address': 'Street 92, City 42', 'phone': '77...
4    {'address': 'Street 47, City 11', 'phone': '53...
Name: profile, dtype: object

Top rows from newly created email column

0    email_543@example.com
1    email_422@example.com
2    email_827@example.com
3    email_761@example.com
4    email_431@example.com
Name: email, dtype: object

‚úÖ Profile fields extracted:

In [24]:
# Now drop the profile column
print("\nColumns before dropping profile:")
print(df.columns.tolist())

# Without inplace=True (df remains unchanged)
cleaned_df = df.drop(columns=['profile'])

# With inplace=True (df is modified directly)
#df.drop(columns=['profile'], inplace=True)

print("\nColumns in new DataFrame after dropping profile:")
# print(df.columns.tolist())
print(cleaned_df.columns.tolist())

Columns before dropping profile:
['id', 'name', 'age', 'salary', 'hire_date', 'profile', 'department', 'bonus', 'address', 'phone', 'email']

Columns in new DataFrame after dropping profile:
['id', 'name', 'age', 'salary', 'hire_date', 'department', 'bonus', 'address', 'phone', 'email']

### Step 4: Save cleaned data into new CSV and upload it to S3

In [25]:
print("\nüíæ Saving cleaned data to: 'data/cleaned_data.csv' ...")
cleaned_df.to_csv("data/cleaned_data.csv", index=False)
print("‚úÖ Cleaned data saved to: 'data/cleaned_data.csv'")

print(f"\nUploading dataset to s3 bucket: {bucket}")
s3.meta.client.upload_file('data/cleaned_data.csv', bucket, 'output/cleaned_data.csv')
print(f"Dataset 'mock_data.csv' uploaded to: s3://{bucket}/output/cleaned_data.csv")

üíæ Saving cleaned data to: 'data/cleaned_data.csv' ...
‚úÖ Cleaned data saved to: 'data/cleaned_data.csv'

Uploading dataset to s3 bucket: sagemaker-us-east-1-891377300841
Dataset 'mock_data.csv' uploaded to: s3://sagemaker-us-east-1-891377300841/output/cleaned_data.csv

## 4. Data Transformation & Feature Engineering

### Step 1: Load the cleaned dataset into new DataFrame

In [26]:
transform_df = pd.read_csv(f's3://{bucket}/output/cleaned_data.csv')
transform_df.head()

,id,name,age,salary,hire_date,department,bonus,address,phone,email
0,1,Name_103,77.0,60000.0,2016-11-20,Marketing,2904.0,"Street 29, City 39",8.458956e+09,email_543@example.com
1,2,Name_436,62.0,50000.0,2016-03-29,Marketing,6333.0,"Street 89, City 38",9.887063e+09,email_422@example.com
2,3,Name_861,61.0,60000.0,2022-04-09,HR,3831.0,"Street 29, City 3",9.422446e+09,email_827@example.com
3,4,Name_271,36.0,70000.0,2020-10-09,Unknown,NaN,"Street 92, City 42",7.701162e+09,email_761@example.com
4,5,Name_107,78.0,60000.0,NaN,IT,1319.0,"Street 47, City 11",5.392671e+09,email_431@example.com

### Step 2 : Feature Engineering - Address Length
Create address length feature for potential geographic analysis.

In [27]:
# Create a new column 'address_length' 
print("\nüîß Creating Address Length Feature...")
transform_df['address_length'] = transform_df['address'].apply(lambda x: len(str(x)))
print("Address followed by Address Length columns")
transform_df[['address', 'address_length']].head()

üîß Creating Address Length Feature...
Address followed by Address Length columns

              address  address_length
0  Street 29, City 39              18
1  Street 89, City 38              18
2   Street 29, City 3              17
3  Street 92, City 42              18
4  Street 47, City 11              18

### Step 3: Feature Engineering - Salary Categorization
Create salary categories for easier analysis and modeling.  
This converts continuous salary into ordinal categories.

In [28]:
print("\nüîß Creating Salary Categories...")
# Define the bins and labels
bins = [0, 50000, 70000, 100000]
labels = ['low', 'medium', 'high']

# Create a new column 'salary_category'
transform_df['salary_category'] = pd.cut(df['salary'], bins=bins, labels=labels, include_lowest=True)

# Print sample data after adding the 'salary_category' column
print("Sample data after adding the 'salary_category' column: \n")
transform_df[['salary', 'salary_category']].head()

üîß Creating Salary Categories...
Sample data after adding the 'salary_category' column:

    salary salary_category
0  60000.0          medium
1  50000.0             low
2  60000.0          medium
3  70000.0          medium
4  60000.0          medium

### Step 4: Feature Engineering - Age Groups  
Create age groups for demographic analysis.  
This helps in understanding age-based patterns in the data.

In [29]:
print("\nüîß Creating Age Groups...")
# Define age bins and labels
age_bins = [0, 25, 35, 45, 55, float('inf')]
age_labels = ['Young', 'Early Career', 'Mid Career', 'Senior', 'Experienced']

# Create a new column 'salary_category'
transform_df['age_group'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, include_lowest=True)

# Age group distribution
print(f"Age group distribution:")
print(transform_df['age_group'].value_counts())

# Print sample data after adding the 'salary_category' column
print("\nSample data after adding the 'age_group' column: \n")
transform_df[['age', 'age_group']].head()

üîß Creating Age Groups...
Age group distribution:
age_group
Experienced     7318
Senior          4068
Early Career    3142
Mid Career      3022
Young           2450
Name: count, dtype: int64

Sample data after adding the 'age_group' column:

    age    age_group
0  77.0  Experienced
1  62.0  Experienced
2  61.0  Experienced
3  36.0   Mid Career
4  78.0  Experienced

### Step 5: Feature Engineering - One-Hot Encoding

In [52]:
transform_df_encoded = pd.get_dummies(transform_df, columns=['department'], prefix='dept')
print("Top 5 rows with boolean values")
print(transform_df_encoded.head())

bool_cols = transform_df_encoded.select_dtypes(include='bool').columns
transform_df_encoded[bool_cols] = transform_df_encoded[bool_cols].astype(int)

print("\nTop 5 rows with numberic values\n")
print(transform_df_encoded.head())

Top 5 rows with boolean values
   id      name   age   salary   hire_date   bonus             address  \
0   1  Name_103  77.0  60000.0  2016-11-20  2904.0  Street 29, City 39
1   2  Name_436  62.0  50000.0  2016-03-29  6333.0  Street 89, City 38
2   3  Name_861  61.0  60000.0  2022-04-09  3831.0   Street 29, City 3
3   4  Name_271  36.0  70000.0  2020-10-09     NaN  Street 92, City 42
4   5  Name_107  78.0  60000.0         NaN  1319.0  Street 47, City 11

          phone                  email  address_length salary_category  \
0  8.458956e+09  email_543@example.com              18          medium
1  9.887063e+09  email_422@example.com              18             low
2  9.422446e+09  email_827@example.com              17          medium
3  7.701162e+09  email_761@example.com              18          medium
4  5.392671e+09  email_431@example.com              18          medium

     age_group  dept_Finance  dept_HR  dept_IT  dept_Marketing  dept_Unknown
0  Experienced         False    False    False            True         False
1  Experienced         False    False    False            True         False
2  Experienced         False     True    False           False         False
3   Mid Career         False    False    False           False          True
4  Experienced         False    False     True           False         False

Top 5 rows with numberic values

   id      name   age   salary   hire_date   bonus             address  \
0   1  Name_103  77.0  60000.0  2016-11-20  2904.0  Street 29, City 39
1   2  Name_436  62.0  50000.0  2016-03-29  6333.0  Street 89, City 38
2   3  Name_861  61.0  60000.0  2022-04-09  3831.0   Street 29, City 3
3   4  Name_271  36.0  70000.0  2020-10-09     NaN  Street 92, City 42
4   5  Name_107  78.0  60000.0         NaN  1319.0  Street 47, City 11

          phone                  email  address_length salary_category  \
0  8.458956e+09  email_543@example.com              18          medium
1  9.887063e+09  email_422@example.com              18             low
2  9.422446e+09  email_827@example.com              17          medium
3  7.701162e+09  email_761@example.com              18          medium
4  5.392671e+09  email_431@example.com              18          medium

     age_group  dept_Finance  dept_HR  dept_IT  dept_Marketing  dept_Unknown
0  Experienced             0        0        0               1             0
1  Experienced             0        0        0               1             0
2  Experienced             0        1        0               0             0
3   Mid Career             0        0        0               0             1
4  Experienced             0        0        1               0             0

### Step 6: Remove missing values in bonus (is the target)

In [53]:
# Check for missing values
print("\n‚ùì Missing Values Analysis before Removing Missing:\n")
print(transform_df_encoded.isnull().sum())

# Remove missing rows for bonus
transform_df_encoded = transform_df_encoded[transform_df_encoded['bonus'].notna()]
print("\n‚ùì Missing Values Analysis after Removing Missing:\n")
transform_df_encoded.isnull().sum()

‚ùì Missing Values Analysis before Removing Missing:

id                    0
name                  0
age                   0
salary                0
hire_date          2015
bonus              2041
address            2077
phone              2077
email              2077
address_length        0
salary_category       0
age_group             0
dept_Finance          0
dept_HR               0
dept_IT               0
dept_Marketing        0
dept_Unknown          0
dtype: int64

‚ùì Missing Values Analysis after Removing Missing:

id                    0
name                  0
age                   0
salary                0
hire_date          1792
bonus                 0
address            1860
phone              1860
email              1860
address_length        0
salary_category       0
age_group             0
dept_Finance          0
dept_HR               0
dept_IT               0
dept_Marketing        0
dept_Unknown          0
dtype: int64

### Step 7: Feature Engineering - One-Hot Encoding on age_group & salary_category

In [71]:
transform_df_encoded = pd.get_dummies(transform_df, columns=['age_group', 'salary_category'], prefix=['age', 'salary'])
print("Top 5 rows with boolean values")
print(transform_df_encoded.head())

bool_cols = transform_df_encoded.select_dtypes(include='bool').columns
transform_df_encoded[bool_cols] = transform_df_encoded[bool_cols].astype(int)

print("\nTop 5 rows with numberic values\n")
print(transform_df_encoded.head())

Top 5 rows with boolean values
   id      name   age   salary   hire_date department   bonus  \
0   1  Name_103  77.0  60000.0  2016-11-20  Marketing  2904.0
1   2  Name_436  62.0  50000.0  2016-03-29  Marketing  6333.0
2   3  Name_861  61.0  60000.0  2022-04-09         HR  3831.0
3   4  Name_271  36.0  70000.0  2020-10-09    Unknown     NaN
4   5  Name_107  78.0  60000.0         NaN         IT  1319.0

              address         phone                  email  address_length  \
0  Street 29, City 39  8.458956e+09  email_543@example.com              18
1  Street 89, City 38  9.887063e+09  email_422@example.com              18
2   Street 29, City 3  9.422446e+09  email_827@example.com              17
3  Street 92, City 42  7.701162e+09  email_761@example.com              18
4  Street 47, City 11  5.392671e+09  email_431@example.com              18

   age_Young  age_Early Career  age_Mid Career  age_Senior  age_Experienced  \
0      False             False           False       False             True
1      False             False           False       False             True
2      False             False           False       False             True
3      False             False            True       False            False
4      False             False           False       False             True

   salary_low  salary_medium  salary_high
0       False           True        False
1        True          False        False
2       False           True        False
3       False           True        False
4       False           True        False

Top 5 rows with numberic values

   id      name   age   salary   hire_date department   bonus  \
0   1  Name_103  77.0  60000.0  2016-11-20  Marketing  2904.0
1   2  Name_436  62.0  50000.0  2016-03-29  Marketing  6333.0
2   3  Name_861  61.0  60000.0  2022-04-09         HR  3831.0
3   4  Name_271  36.0  70000.0  2020-10-09    Unknown     NaN
4   5  Name_107  78.0  60000.0         NaN         IT  1319.0

              address         phone                  email  address_length  \
0  Street 29, City 39  8.458956e+09  email_543@example.com              18
1  Street 89, City 38  9.887063e+09  email_422@example.com              18
2   Street 29, City 3  9.422446e+09  email_827@example.com              17
3  Street 92, City 42  7.701162e+09  email_761@example.com              18
4  Street 47, City 11  5.392671e+09  email_431@example.com              18

   age_Young  age_Early Career  age_Mid Career  age_Senior  age_Experienced  \
0          0                 0               0           0                1
1          0                 0               0           0                1
2          0                 0               0           0                1
3          0                 0               1           0                0
4          0                 0               0           0                1

   salary_low  salary_medium  salary_high
0           0              1            0
1           1              0            0
2           0              1            0
3           0              1            0
4           0              1            0

### Step 8: Feature Engineering | Calculate Tenure

In [72]:
print("Convert hire_date to datetime")
transform_df_encoded['hire_date'] = pd.to_datetime(transform_df_encoded['hire_date'], errors='coerce')
print(transform_df_encoded['hire_date'].head())
# print(transform_df_encoded.dtypes)
print("Calculate Tenure in datys")

non_date_rows = transform_df_encoded[transform_df_encoded['hire_date'].apply(lambda x: isinstance(x, str))]
print("non date rows:")
print(non_date_rows)

transform_df_encoded['tenure_days'] = (pd.Timestamp('now') - df['hire_date']).dt.days

Convert hire_date to datetime
0   2016-11-20
1   2016-03-29
2   2022-04-09
3   2020-10-09
4          NaT
Name: hire_date, dtype: datetime64[ns]
Calculate Tenure in datys
non date rows:
Empty DataFrame
Columns: [id, name, age, salary, hire_date, department, bonus, address, phone, email, address_length, age_Young, age_Early Career, age_Mid Career, age_Senior, age_Experienced, salary_low, salary_medium, salary_high]
Index: []

‚ï≠‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ Traceback (most recent call last) ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ïÆ
‚îÇ in <module>:11                                                                                   ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ    8 print("non date rows:")                                                                     ‚îÇ
‚îÇ    9 print(non_date_rows)                                                                        ‚îÇ
‚îÇ   10                                                                                             ‚îÇ
‚îÇ ‚ù± 11 transform_df_encoded['tenure_days'] = (pd.Timestamp('now') - df['hire_date']).dt.days       ‚îÇ
‚îÇ   12                                                                                             ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ /opt/conda/lib/python3.12/site-packages/pandas/core/ops/common.py:76 in new_method               ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ    73 ‚îÇ   ‚îÇ                                                                                      ‚îÇ
‚îÇ    74 ‚îÇ   ‚îÇ   other = item_from_zerodim(other)                                                   ‚îÇ
‚îÇ    75 ‚îÇ   ‚îÇ                                                                                      ‚îÇ
‚îÇ ‚ù±  76 ‚îÇ   ‚îÇ   return method(self, other)                                                         ‚îÇ
‚îÇ    77 ‚îÇ                                                                                          ‚îÇ
‚îÇ    78 ‚îÇ   return new_method                                                                      ‚îÇ
‚îÇ    79                                                                                            ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ /opt/conda/lib/python3.12/site-packages/pandas/core/arraylike.py:198 in __rsub__                 ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ   195 ‚îÇ                                                                                          ‚îÇ
‚îÇ   196 ‚îÇ   @unpack_zerodim_and_defer("__rsub__")                                                  ‚îÇ
‚îÇ   197 ‚îÇ   def __rsub__(self, other):                                                             ‚îÇ
‚îÇ ‚ù± 198 ‚îÇ   ‚îÇ   return self._arith_method(other, roperator.rsub)                                   ‚îÇ
‚îÇ   199 ‚îÇ                                                                                          ‚îÇ
‚îÇ   200 ‚îÇ   @unpack_zerodim_and_defer("__mul__")                                                   ‚îÇ
‚îÇ   201 ‚îÇ   def __mul__(self, other):                                                              ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ /opt/conda/lib/python3.12/site-packages/pandas/core/series.py:6135 in _arith_method              ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ   6132 ‚îÇ                                                                                         ‚îÇ
‚îÇ   6133 ‚îÇ   def _arith_method(self, other, op):                                                   ‚îÇ
‚îÇ   6134 ‚îÇ   ‚îÇ   self, other = self._align_for_op(other)                                           ‚îÇ
‚îÇ ‚ù± 6135 ‚îÇ   ‚îÇ   return base.IndexOpsMixin._arith_method(self, other, op)                          ‚îÇ
‚îÇ   6136 ‚îÇ                                                                                         ‚îÇ
‚îÇ   6137 ‚îÇ   def _align_for_op(self, right, align_asobject: bool = False):                         ‚îÇ
‚îÇ   6138 ‚îÇ   ‚îÇ   """align lhs and rhs Series"""                                                    ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ /opt/conda/lib/python3.12/site-packages/pandas/core/base.py:1382 in _arith_method                ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ   1379 ‚îÇ   ‚îÇ   ‚îÇ   rvalues = np.arange(rvalues.start, rvalues.stop, rvalues.step)                ‚îÇ
‚îÇ   1380 ‚îÇ   ‚îÇ                                                                                     ‚îÇ
‚îÇ   1381 ‚îÇ   ‚îÇ   with np.errstate(all="ignore"):                                                   ‚îÇ
‚îÇ ‚ù± 1382 ‚îÇ   ‚îÇ   ‚îÇ   result = ops.arithmetic_op(lvalues, rvalues, op)                              ‚îÇ
‚îÇ   1383 ‚îÇ   ‚îÇ                                                                                     ‚îÇ
‚îÇ   1384 ‚îÇ   ‚îÇ   return self._construct_result(result, name=res_name)                              ‚îÇ
‚îÇ   1385                                                                                           ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ /opt/conda/lib/python3.12/site-packages/pandas/core/ops/array_ops.py:273 in arithmetic_op        ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ   270 ‚îÇ   ):                                                                                     ‚îÇ
‚îÇ   271 ‚îÇ   ‚îÇ   # Timedelta/Timestamp and other custom scalars are included in the check           ‚îÇ
‚îÇ   272 ‚îÇ   ‚îÇ   # because numexpr will fail on it, see GH#31457                                    ‚îÇ
‚îÇ ‚ù± 273 ‚îÇ   ‚îÇ   res_values = op(left, right)                                                       ‚îÇ
‚îÇ   274 ‚îÇ   else:                                                                                  ‚îÇ
‚îÇ   275 ‚îÇ   ‚îÇ   # TODO we should handle EAs consistently and move this check before the if/else    ‚îÇ
‚îÇ   276 ‚îÇ   ‚îÇ   # (https://github.com/pandas-dev/pandas/issues/41165)                              ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ /opt/conda/lib/python3.12/site-packages/pandas/core/roperator.py:15 in rsub                      ‚îÇ
‚îÇ                                                                                                  ‚îÇ
‚îÇ   12                                                                                             ‚îÇ
‚îÇ   13                                                                                             ‚îÇ
‚îÇ   14 def rsub(left, right):                                                                      ‚îÇ
‚îÇ ‚ù± 15 ‚îÇ   return right - left                                                                     ‚îÇ
‚îÇ   16                                                                                             ‚îÇ
‚îÇ   17                                                                                             ‚îÇ
‚îÇ   18 def rmul(left, right):                                                                      ‚îÇ
‚ï∞‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ïØ
TypeError: unsupported operand type(s) for -: 'Timestamp' and 'str'

### Step 5: Aggregation Features - Department Statistics  
Create department-level aggregations for comparative analysis.  
This enables understanding of department-wise patterns.

In [30]:
print("\nüîß Creating Department Statistics...")
# Group by 'department' and calculate average salary and age
department_summary_report = df.groupby('department').agg({
    'salary': 'mean',
    'age': 'mean'
}).reset_index()

# rename columns of department_summary_report for clarity
department_summary_report.columns = ['Department', 'Average Salary', 'Average Age']

üîß Creating Department Statistics...

In [31]:
# Print the Summary Report
print("Summary report of average salary and age based on the department:\n")
print(department_summary_report)

Summary report of average salary and age based on the department:

  Department  Average Salary  Average Age
0    Finance    59830.035515    48.345256
1         HR    60015.155342    48.620106
2         IT    60034.499754    48.650074
3  Marketing    60049.455984    48.419139
4    Unknown    59939.954966    48.075056

### Step 6: Data Quality Metrics
Calculate data quality metrics for monitoring and MLOps.  
These metrics help track data drift and quality over time.

In [32]:

print("\nüìä Data Quality Metrics...")

quality_metrics = {
    'total_rows': len(transform_df),
    'total_columns': len(transform_df.columns),
    'missing_values_count': transform_df.isnull().sum().sum(),
    'duplicate_rows': transform_df.duplicated().sum(),
    'numeric_columns': len(transform_df.select_dtypes(include=[np.number]).columns),
    'categorical_columns': len(transform_df.select_dtypes(include=['object']).columns),
    'unique_departments': transform_df['department'].nunique(),
    'unique_age_groups': transform_df['age_group'].nunique(),
    'unique_salary_categories': transform_df['salary_category'].nunique(),
    'processing_timestamp': datetime.now().isoformat()
}

print("Data Quality Metrics:")
for metric, value in quality_metrics.items():
    print(f"  {metric}: {value}")

üìä Data Quality Metrics...
Data Quality Metrics:
  total_rows: 20000
  total_columns: 13
  missing_values_count: 10079
  duplicate_rows: 0
  numeric_columns: 6
  categorical_columns: 5
  unique_departments: 5
  unique_age_groups: 5
  unique_salary_categories: 2
  processing_timestamp: 2025-07-21T00:16:54.071555

### Step 7: Save the transformed DataFrame to a new csv file

In [33]:
print("Saving Transformed data csv to: 'data/transformed_data.csv' ...")
transform_df.to_csv("data/transformed_data.csv", index=False)
print("\nTransformed data csv saved to: 'data/transformed_data.csv'")

s3.meta.client.upload_file('data/transformed_data.csv', bucket, 'output/transformed_data.csv')
print(f"Transformed data 'transformed_data.csv' uploaded to: s3://{bucket}/output/transformed_data.csv")

Saving Transformed data csv to: 'data/transformed_data.csv' ...

Transformed data csv saved to: 'data/transformed_data.csv'
Transformed data 'transformed_data.csv' uploaded to: s3://sagemaker-us-east-1-910316760829/output/transformed_data.csv

In [34]:
### Step 2: Save Department Statistics
print("Saving department statistics...")
department_summary_report.to_csv("data/department_statistics.csv", index=False)
print("‚úÖ Department statistics saved to: 'data/department_statistics.csv'")

s3.meta.client.upload_file('data/department_statistics.csv', bucket, 'output/department_statistics.csv')
print(f"Department Statistics 'department_statistics.csv' uploaded to: s3://{bucket}/output/department_statistics.csv")

Saving department statistics...
‚úÖ Department statistics saved to: 'data/department_statistics.csv'
Department Statistics 'department_statistics.csv' uploaded to: s3://sagemaker-us-east-1-910316760829/output/department_statistics.csv

## 5. Next Steps for MLOps

In [35]:
print(f"\nüéØ Next Steps for MLOps:")
print(f"  1. Model training using transformed features")
print(f"  2. Model validation and testing")
print(f"  3. Model deployment and monitoring")
print(f"  4. Data drift monitoring using quality metrics")
print(f"  5. Pipeline automation and orchestration")

print("\n" + "="*50)
print("üéâ DATA TRANSFORMATION PIPELINE COMPLETE!")
print("="*50)

üéØ Next Steps for MLOps:
  1. Model training using transformed features
  2. Model validation and testing
  3. Model deployment and monitoring
  4. Data drift monitoring using quality metrics
  5. Pipeline automation and orchestration

==================================================
üéâ DATA TRANSFORMATION PIPELINE COMPLETE!
==================================================